.blood-donor-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  text-align: left;
}

input, select {
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

button {
  padding: 8px;
  background: rgb(76, 162, 219);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: rgb(39, 146, 176);
}

/* Profile Section */
.profile-section {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.profile-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgb(244, 246, 247);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 200px;
}

.dropdown p {
  margin: 5px 0;
}

.dropdown button {
  background: rgb(76, 162, 219);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
}

.dropdown button:hover {
  background: rgb(39, 146, 176);
}
