.home-container {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .hero-section {
    background: #da4141;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .home-button {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .accident-btn {
    background-color: #ff3333;
  }
  
  .blood-btn {
    background-color: #ff6a00;
  }
  
  .home-button:hover {
    transform: scale(1.1);
  }